In [1]:
#libraries

import pandas as pd
import numpy as np

In [2]:
#reading the data

sleep = pd.read_csv("sleep_final2_v1.csv")

In [3]:
# labels
sleep.head()

,id,Label,created_at,favorite_count,favorited,place.province,population,truncated,tweet_text_final,user.created_at,user.favourites_count,user.followers_count,user.friends_count,user.listed_count,user.location,user.statuses_count
0,5d0d66e244578a0ea45248f2,"Self-report: Yes, Sleep Disorder: Yes",Fri Mar 29 00:54:08 +0000 2019,0,0,Ontario,14659616,0,Gotta wake up early tomorrow ðŸ˜«,Wed Mar 04 04:08:10 +0000 2009,17255,658,983,37,"Toronto, Ontario",39742
1,5d0d681844578a0ea453715b,"Self-report: Yes, Sleep Disorder: Yes",Tue Mar 26 23:28:19 +0000 2019,0,0,Nova Scotia,976768,0,rozinck Picked that up at Farm Assists after g...,Sun Mar 08 18:05:50 +0000 2009,44516,2801,2479,108,Kâ€™jipuktuk / Halifax,54902
2,5d0d69ac44578a0ea4550911,"Self-report: Yes, Sleep Disorder: Yes",Mon Apr 01 07:47:02 +0000 2019,0,0,Ontario,14659616,1,Iâ€™ve been having the urge to sleep on my bac...,Sun Apr 05 16:42:44 +0000 2009,10338,8116,1505,67,"Toronto, Ontario",180515
3,5d0d6a0244578a0ea45563ba,"Self-report: Yes, Sleep Disorder: No",Mon Apr 01 07:50:55 +0000 2019,0,0,Ontario,14659616,1,My #Sunday sleep & naps all day...ðŸ˜´ðŸ˜´ðŸ˜...,Fri May 14 06:40:44 +0000 2010,680,614,1131,99,"Toronto, Ontario (Canada)",118783
4,5d0d6b5944578a0ea456a87f,"Self-report: Yes, Sleep Disorder: No",Mon Apr 01 08:01:16 +0000 2019,0,0,Alberta,4395586,0,Friend in the middle of the night notifies me ...,Sun Jan 02 20:41:00 +0000 2011,12397,113,498,2,"Calgary, Alberta",6311

In [4]:
sleep['Label'].unique()

array(['Self-report: Yes, Sleep Disorder: Yes',
       'Self-report: Yes, Sleep Disorder: No',
       'Self-report: No, Sleep Disorder: Yes', 'Not Clear',
       'Self-report: No, Sleep Disorder: No', nan], dtype=object)

In [5]:
sleep_df = sleep[sleep['Label'].isin(['Self-report: Yes, Sleep Disorder: No','Self-report: Yes, Sleep Disorder: Yes']) ]
sleep_df['Label'].unique()

array(['Self-report: Yes, Sleep Disorder: Yes',
       'Self-report: Yes, Sleep Disorder: No'], dtype=object)

In [6]:
len(sleep_df)

4185

In [7]:
Tweet_df = pd.DataFrame(sleep_df['created_at'].str[:3])
Tweet_df.rename(columns={"created_at": "Weekday"}, inplace = True)
Tweet_df['Province'] = sleep_df['place.province']
Tweet_df

     Weekday          Province
0        Fri           Ontario
1        Tue       Nova Scotia
2        Mon           Ontario
3        Mon           Ontario
4        Mon           Alberta
...      ...               ...
6001     Mon      Saskatchewan
6002     Sun      Saskatchewan
6003     Fri      Saskatchewan
6004     Tue      Saskatchewan
6005     Fri  British Columbia

[4185 rows x 2 columns]

In [8]:
Tweet_df['Time'] = (sleep_df['created_at'].str[10:13].astype(int) + (sleep_df['created_at'].str[14:16].astype(int)/60))
Tweet_df

     Weekday          Province       Time
0        Fri           Ontario   0.900000
1        Tue       Nova Scotia  23.466667
2        Mon           Ontario   7.783333
3        Mon           Ontario   7.833333
4        Mon           Alberta   8.016667
...      ...               ...        ...
6001     Mon      Saskatchewan  14.383333
6002     Sun      Saskatchewan  21.500000
6003     Fri      Saskatchewan  14.583333
6004     Tue      Saskatchewan   9.483333
6005     Fri  British Columbia   4.900000

[4185 rows x 3 columns]

In [9]:
Tweet_df['Label'] = sleep_df['Label']
Tweet_df

,Weekday,Province,Time,Label
0,Fri,Ontario,0.900000,"Self-report: Yes, Sleep Disorder: Yes"
1,Tue,Nova Scotia,23.466667,"Self-report: Yes, Sleep Disorder: Yes"
2,Mon,Ontario,7.783333,"Self-report: Yes, Sleep Disorder: Yes"
3,Mon,Ontario,7.833333,"Self-report: Yes, Sleep Disorder: No"
4,Mon,Alberta,8.016667,"Self-report: Yes, Sleep Disorder: No"
...,...,...,...,...
6001,Mon,Saskatchewan,14.383333,"Self-report: Yes, Sleep Disorder: Yes"
6002,Sun,Saskatchewan,21.500000,"Self-report: Yes, Sleep Disorder: Yes"
6003,Fri,Saskatchewan,14.583333,"Self-report: Yes, Sleep Disorder: Yes"
6004,Tue,Saskatchewan,9.483333,"Self-report: Yes, Sleep Disorder: Yes"
6005,Fri,British Columbia,4.900000,"Self-report: Yes, Sleep Disorder: Yes"

In [10]:
#     UTC-03:30 Newfoundland Time Zone includes the entire island of Newfoundland and the southeastern part of the Labrador region.
#     UTC-04:00 Atlantic Time Zone comprises most of Labrador and three other provinces - New Brunswick (NB), Nova Scotia (NS), Prince Edward Island (PE).
#     UTC-05:00 Eastern Time Zone encompasses the eastern part of Nunavut (NU), most of Ontario (ON) and Quebec (QC) provinces.
#     UTC-06:00 Central Time Zone includes entire Manitoba (MB), Saskatchewan (SK) with small exception and quite a big piece of Nunavut (NU).
#     UTC-07:00 Mountain Time Zone comprises wholly Alberta (AB) and Northwest Territories (NT), also the western part of Nunavut (NU), the small exception in Saskatchewan (SK), the eastern and southeastern districts of British Columbia (BC).
#     UTC-08:00 Pacific Time Zone covers most of British Columbia (BC) and entire Yukon (YT).
# Reference: https://www.countries-ofthe-world.com/time-zones-canada.html

In [11]:
Time_Adj = [['Ontario', -5], ['Nova Scotia', -4], ['Alberta', -7], ['Quebec', -5], ['British Columbia', -8],
       ['Saskatchewan', -6], ['Northwest Territories', -7], ['Manitoba', -6],
       ['Newfoundland and Labrador', -3.5], ['New Brunswick', -4], ['Nunavut', -5],
       ['Prince Edward Island', -4], ['Yukon', -8]]
Time_Adj = pd.DataFrame(Time_Adj)
Time_Adj.rename(columns={0: "Province", 1: "Time_Adj"}, inplace = True)
Time_Adj

                     Province  Time_Adj
0                     Ontario      -5.0
1                 Nova Scotia      -4.0
2                     Alberta      -7.0
3                      Quebec      -5.0
4            British Columbia      -8.0
5                Saskatchewan      -6.0
6       Northwest Territories      -7.0
7                    Manitoba      -6.0
8   Newfoundland and Labrador      -3.5
9               New Brunswick      -4.0
10                    Nunavut      -5.0
11       Prince Edward Island      -4.0
12                      Yukon      -8.0

In [12]:
data = pd.merge(Tweet_df, Time_Adj, on='Province', how='inner')
data

,Weekday,Province,Time,Label,Time_Adj
0,Fri,Ontario,0.900000,"Self-report: Yes, Sleep Disorder: Yes",-5.0
1,Mon,Ontario,7.783333,"Self-report: Yes, Sleep Disorder: Yes",-5.0
2,Mon,Ontario,7.833333,"Self-report: Yes, Sleep Disorder: No",-5.0
3,Tue,Ontario,23.800000,"Self-report: Yes, Sleep Disorder: Yes",-5.0
4,Tue,Ontario,3.566667,"Self-report: Yes, Sleep Disorder: No",-5.0
...,...,...,...,...,...
4137,Mon,Prince Edward Island,14.516667,"Self-report: Yes, Sleep Disorder: Yes",-4.0
4138,Thu,Yukon,2.933333,"Self-report: Yes, Sleep Disorder: Yes",-8.0
4139,Fri,Yukon,17.766667,"Self-report: Yes, Sleep Disorder: No",-8.0
4140,Sat,Yukon,10.766667,"Self-report: Yes, Sleep Disorder: No",-8.0
4141,Mon,Yukon,6.616667,"Self-report: Yes, Sleep Disorder: No",-8.0

In [13]:
data['Adjusted_Time'] = data['Time'] + data['Time_Adj']
data

,Weekday,Province,Time,Label,Time_Adj,Adjusted_Time
0,Fri,Ontario,0.900000,"Self-report: Yes, Sleep Disorder: Yes",-5.0,-4.100000
1,Mon,Ontario,7.783333,"Self-report: Yes, Sleep Disorder: Yes",-5.0,2.783333
2,Mon,Ontario,7.833333,"Self-report: Yes, Sleep Disorder: No",-5.0,2.833333
3,Tue,Ontario,23.800000,"Self-report: Yes, Sleep Disorder: Yes",-5.0,18.800000
4,Tue,Ontario,3.566667,"Self-report: Yes, Sleep Disorder: No",-5.0,-1.433333
...,...,...,...,...,...,...
4137,Mon,Prince Edward Island,14.516667,"Self-report: Yes, Sleep Disorder: Yes",-4.0,10.516667
4138,Thu,Yukon,2.933333,"Self-report: Yes, Sleep Disorder: Yes",-8.0,-5.066667
4139,Fri,Yukon,17.766667,"Self-report: Yes, Sleep Disorder: No",-8.0,9.766667
4140,Sat,Yukon,10.766667,"Self-report: Yes, Sleep Disorder: No",-8.0,2.766667
4141,Mon,Yukon,6.616667,"Self-report: Yes, Sleep Disorder: No",-8.0,-1.383333

In [14]:
for i in range(len(data)):
    if data['Adjusted_Time'][i] < 0:
        data['Adjusted_Time'][i] += 24
        
data

<ipython-input-14-4a8e05b0b260>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Adjusted_Time'][i] += 24

,Weekday,Province,Time,Label,Time_Adj,Adjusted_Time
0,Fri,Ontario,0.900000,"Self-report: Yes, Sleep Disorder: Yes",-5.0,19.900000
1,Mon,Ontario,7.783333,"Self-report: Yes, Sleep Disorder: Yes",-5.0,2.783333
2,Mon,Ontario,7.833333,"Self-report: Yes, Sleep Disorder: No",-5.0,2.833333
3,Tue,Ontario,23.800000,"Self-report: Yes, Sleep Disorder: Yes",-5.0,18.800000
4,Tue,Ontario,3.566667,"Self-report: Yes, Sleep Disorder: No",-5.0,22.566667
...,...,...,...,...,...,...
4137,Mon,Prince Edward Island,14.516667,"Self-report: Yes, Sleep Disorder: Yes",-4.0,10.516667
4138,Thu,Yukon,2.933333,"Self-report: Yes, Sleep Disorder: Yes",-8.0,18.933333
4139,Fri,Yukon,17.766667,"Self-report: Yes, Sleep Disorder: No",-8.0,9.766667
4140,Sat,Yukon,10.766667,"Self-report: Yes, Sleep Disorder: No",-8.0,2.766667
4141,Mon,Yukon,6.616667,"Self-report: Yes, Sleep Disorder: No",-8.0,22.616667

In [15]:
data.to_excel('Tweet_time.xlsx')